
  <div class="col px-3 sidebar-moov" id="body-corps">
    <div class="row px-5">
      <div class="col-3 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h5 class="mini-titre">Faute</h5>
          <p>commentaire Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="col-3 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h5 class="mini-titre">Faute</h5>
          <p>commentaire Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="col-3 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h5 class="mini-titre">Faute</h5>
          <p>commentaire Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="col-3 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h5 class="mini-titre">Faute</h5>
          <p>commentaire Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-8 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h4>Statistique</h4>
          <canvas id="myChart" height="100"></canvas>
        </div>
      </div>
      <div class="col-4 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h4>Tache</h4>
          <!-- Timeline 1 - Bootstrap Brain Component -->
          <section class="bsb-timeline-1 p-4 pt-1">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <ul class="timeline">
                    <li class="timeline-item">
                      <div class="timeline-body">
                        <div class="timeline-content">
                          <div class="card border-0">
                            <div class="card-body p-0">
                              <h6 class="card-subtitle text-secondary mb-1">
                                Parametrage BCQ
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-item danger">
                      <div class="timeline-body">
                        <div class="timeline-content">
                          <div class="card border-0">
                            <div class="card-body p-0">
                              <h6 class="card-subtitle text-secondary mb-1">
                                Parametrage BCQ
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-item danger">
                      <div class="timeline-body">
                        <div class="timeline-content">
                          <div class="card border-0">
                            <div class="card-body p-0">
                              <h6 class="card-subtitle text-secondary mb-1">
                                Parametrage interne
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-item danger">
                      <div class="timeline-body">
                        <div class="timeline-content">
                          <div class="card border-0">
                            <div class="card-body p-0">
                              <h6 class="card-subtitle text-secondary mb-1">
                                Parametrage autre
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-12 p-3">
        <div class="p-3 bg-white shadow rounded-3">
          <h4 class="mb-3">Tableau</h4>
          <table class="table table-striped-columns">
            <tr>
              <th class="bg-sidebar-p">#</th>
              <th class="bg-sidebar-p">first</th>
              <th class="bg-sidebar-p">second</th>
              <th class="bg-sidebar-p">third</th>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

