<div class="px-3 py-4">
  <div class="row mb-3">
    <div class="col-10">
      <!-- <button type="button" (click)="checkValid()">check</button> -->
      
    </div>
    <div class="col-2 text-end">
        <button type="button" class="btn btn-success" (click)="addItem();generer.emit()"> <fa-icon icon="plus-circle" ></fa-icon> Add</button>
    </div>
  </div>
  <!-- @if (showAlert) {
    <ng-container>
      <app-alert-confirm [percentage]="percentage" (confirmed)="onConfirmed($event)"></app-alert-confirm>
    </ng-container>
  } -->
  <div class="card p-3 pt-0">
    
    <div class="row mb-3 card-header">
        <div class="col-1 text-center d-flex justify-content-center"></div>
        <div class="col-2 text-center fw-bold  d-flex justify-content-center" 
       
        >
            <div class=" rounded-2 align-content-center "
            ngbPopover="Sélectionnez l'étape de contrôle souhaitée" 
            [placement]="'top'"
            [autoClose]="'true'"
            [triggers]="'mouseenter:mouseleave'"
            popoverClass="my-custom-popover"
            >
                Operation de control
            </div>
        </div>
        <div class="col-2 text-center fw-bold  d-flex justify-content-center">
            <div class=" rounded-2 align-content-center "
             ngbPopover="Cette information est automatiquement récupérée via Webjips." 
            [placement]="'bottom'"
            [autoClose]="'true'"
            [triggers]="'mouseenter:mouseleave'"
            popoverClass="my-custom-popover"
            >
                Unite
            </div>
        </div>
        <div class="col-1 text-center fw-bold  d-flex justify-content-center">
            <div class=" rounded-2 align-content-center "
            ngbPopover="Le taux de qualité est soit validé par le client, soit défini en interne. C'est une valeur comprise entre 90 % et 100 %" 
            [placement]="'bottom'"
            [autoClose]="'true'"
            [triggers]="'mouseenter:mouseleave'"
            popoverClass="my-custom-popover"
            >
                Seuil qualite
            </div>
        </div>
        <div class="col-2 text-center fw-bold  d-flex justify-content-center">
            <div class=" rounded-2 align-content-center "
            [ngbPopover]="popoverControl" 
            [placement]="'bottom'"
            [autoClose]="'true'"
            [triggers]="'mouseenter:mouseleave'"
            popoverClass="my-custom-popover"
            >
                Type de control
            </div>
        </div>
        <ng-template #popoverControl>
          <div>
              Ce choix dépend de vos besoins : <br>
              <ul>
                <li>Qualité interne (Le contrôle est réalisé par les équipes de Luminess Madagascar.)</li>
                <li>BCQ (Ce contrôle s'effectue par échantillonnage, en appliquant la norme ISO 2859-1.)</li>
                <li>Qualité externe (Rapport qualité venant du client à intégrer dans Qualisoft)</li>
              </ul>
          </div>
        </ng-template>
        <div class="col-2 text-center fw-bold  d-flex justify-content-center">
            <div class=" rounded-2 align-content-center "
            ngbPopover="Sélectionnez l'étape à contrôler" 
            [placement]="'top'"
            [autoClose]="'true'"
            [triggers]="'mouseenter:mouseleave'"
            popoverClass="my-custom-popover"
            >
                Operation a controler
            </div>
        </div>
        <div class="col-1 text-center fw-bold  d-flex justify-content-center">
            <div class=" rounded-2 align-content-center "
            [placement]="'bottom'"
            [autoClose]="'true'"
            [triggers]="'mouseenter:mouseleave'"
            popoverClass="my-custom-popover"
            [ngbPopover]="popoverRejet"
            >
                Critere de rejet
            </div>
        </div>

        <ng-template #popoverRejet>
          <div>
            <p>Nombre de fautes pondérées acceptables par unité. La faute pondérée est calculée par la formule : (Fréquence x Coefficient)</p>
            <p>Exemple : Si 2 fautes pondérées sont relevées dans une page, le calcul est le suivant : </p>
            <p>Fréquence (2) x Coefficient (1) = 2 (le total des fautes pondérées pour la page).</p>
          </div>
        </ng-template>
        <div class="col-1 text-center fw-bold  d-flex justify-content-center">
            <div class=" rounded-2 align-content-center "
            
            >
              Action
            </div>
        </div>
    </div>
    <div class="list card-body p-3" >
      <form [formGroup]="form()!">
        <div class="" formArrayName="formArray"  cdkDropList (cdkDropListDropped)="drop($event)">
          <div *ngFor="let fg of formArray.controls;  let i = index; trackByIndex: trackByIndex ; " [formGroupName]="i" cdkDrag class="row border border-2 mb-3 p-3 px-0 rounded-3 bg-light shadow">
            <div class="col-1 drag-icon text-center py-2 px-0">⠿ {{ i + 1 }}</div>
              <div class="col-2 text-center">
                <input 
                    formControlName="operation"
                    class="form-control"
                    type="text"
                    matInput
                    [matAutocomplete]="autOperation"
                    [matTooltip]="displayOperation(formArray.controls.at(i)?.get('operation')?.value)"
                />
                <mat-autocomplete panelClass="auto-width-panel" #autOperation="matAutocomplete" [displayWith]="displayOperation" (optionSelected)="selectOperation($event,i+1)"> 
                  <mat-option *ngFor="let operation of filteredOperations[i] | async " [value]="operation.id_operation">
                    {{ operation.libelle }}
                  </mat-option>
                </mat-autocomplete>

              </div>
              <div class="col-2 text-center">
                <!-- <input formControlName="unite" class="form-control" value="{{ fg.get('unite')?.value }}" /> -->
                 <select formControlName="unite" class="form-control" >
                  <option *ngFor="let item of unites()" [value]="item.id_type_qte_act">{{ item.libelle }}</option>
                 </select>
                </div>
                <div class="col-1 text-center">
                  <input formControlName="seuilQualite" class="form-control text-end" (blur)="formatSeuilQualite(i)" (keypress)="filterInput($event)" value="{{ fg.get('seuilQualite')?.value }}" />
                </div>
                <div class="col-2 text-center">
                  <!-- <input formControlName="typeControl" class="form-control"  value="{{ fg.get('typeControl')?.value }}" /> -->
                  <select formControlName="typeControl" class="form-control">
                    <!-- <option value="" class="text-body-tertiary"><span class="text-body-tertiary">--Type de contrôle--</span></option> -->
                    <option value="0">Interne</option>
                   <option value="1">BCQ</option>
                   <option value="2">Externe</option>
                 </select>
              </div>
              <div class="col-2 text-center">
                <!-- <input formControlName="operationAControler" class="form-control"  value="{{ fg.get('operationAControler')?.value }}" /> -->
                <select formControlName="operationAControler" class="form-control" >
                 <option *ngFor="let item of filteredOperation[i]" [value]="item.id_operation">{{ item.libelle }}</option>
                </select>
              </div>
              <div class="col-1 text-end pe-0">
                  <input formControlName="critereRejet" class="form-control text-end " (keypress)="filterInput($event)" (blur)="formatCritereRejet(i)" value="{{ fg.get('critereRejet')?.value }}" />
              </div>
              <div class="col-1 text-end">
                <button type="button" class="btn btn-danger " (click)="removeItem(i)"> <fa-icon icon="minus-circle" ></fa-icon></button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

