<div class="container mt-3">
    <div class="row text-center mb-3">
        <h4>Correspondance paramétrage interne vs fichier client</h4>
    </div>
    <div class="row">
        
        <div class="card">
            <div class="card-body d-flex justify-content-center">
                <table class="w-75 table align-middle ">
                    <thead>
                        <tr class="text-center">
                            <th></th>
                            <th>Onglet</th>
                            <th>Colonne</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Date Controle</td>
                            <td><input type="text" class="form-control text-center" name="" id=""></td>
                            <td><input type="text" class="form-control text-center" name="" id="" maxlength="1"></td>
                        </tr>
                        <tr>
                            <td>Nom du fichier</td>
                            <td><input type="text" class="form-control text-center" name="" id=""></td>
                            <td><input type="text" class="form-control text-center" name="" id="" maxlength="1"></td>
                        </tr>
                        <tr>
                            <td>Intervenant</td>
                            <td><input type="text" class="form-control text-center" name="" id=""></td>
                            <td><input type="text" class="form-control text-center" name="" id="" maxlength="1"></td>
                        </tr>
                        <tr>
                            <td>Quantite contrôlé</td>
                            <td><input type="text" class="form-control text-center" name="" id=""></td>
                            <td><input type="text" class="form-control text-center" name="" id="" maxlength="1"></td>
                        </tr>
                        <tr>
                            <td>Type de faute</td>
                            <td><input type="text" class="form-control text-center" name="" id=""></td>
                            <td><input type="text" class="form-control text-center" name="" id="" maxlength="1"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>