<form action="" [formGroup]="form()!">
  <div class="container mt-3">
    <div class="row text-center mb-3">
      <h4>Correspondance paramétrage interne vs fichier client</h4>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-body d-flex justify-content-center">
          <table class="w-75 table align-middle">
            <thead>
              <tr class="text-center">
                <th>Libelle</th>
                <th>Onglet</th>
                <th>Colonne</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody formArrayName="indexation">
              @for (param of paramExterne; track $index) {
              <tr [formGroupName]="$index">
                <td>{{ paramExterne.at($index)?.get('libelle')?.value }}</td>
                <td>
                  <input
                    type="text"
                    formControlName="onglet"
                    name="detail_projet.param_externe:onglet"
                    appDebounced
                    [identity]="paramExterne.at($index)?.get('id_param_externe')?.value"
                    (debouncedValue)="updateValue($event)"
                    [foreign]="[{name:'id_projet', value: projectID()},{name:'id_champ_param_interne', value: paramExterne.at($index)?.get('id_champ_param_interne')?.value}]"
                    [isAutoComplete]="{value: false}"
                    class="form-control text-center"
                    id=""
                  />
                </td>
                <td>
                  <input
                    type="text"
                    formControlName="colonne"
                    class="form-control text-center"
                    name="detail_projet.param_externe:colonne"
                    appDebounced
                    [identity]="paramExterne.at($index)?.get('id_param_externe')?.value"
                    (debouncedValue)="updateValue($event)"
                    [foreign]="[{name:'id_projet', value: projectID()},{name:'id_champ_param_interne', value: paramExterne.at($index)?.get('id_champ_param_interne')?.value}]"
                    [isAutoComplete]="{value: false}"
                    id=""
                    maxlength="1"
                  />
                </td>
                @if (isIdParamInterne(paramExterne.at($index)?.get('id_champ_param_interne')?.value)) {
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteLigneParam($index, paramExterne.at($index)?.get('id_param_externe')?.value)"
                  >
                    Supprimer
                  </button>
                  </td>
                } @else {
                  <td></td>
                }
              </tr>
              }
              <tr>
                <td>
                  <select class="form-select" name="" id="" 
                      [(ngModel)]="paramModel.id_champ_param_interne"
                      [ngModelOptions]="{standalone: true}"
                  >
                    <option [ngValue]="''" disabled selected>--- Ajout libelle ---</option>
                    @for(item of paramInterne(); track $index) {
                      <option [ngValue]="item.id_champ_param_interne">{{item.libelle}}</option>
                    }
                  </select>
                </td>
                <td><input [(ngModel)]="paramModel.onglet" [ngModelOptions]="{standalone: true}" class="form-control" type="text" name="" id=""></td>
                <td><input [(ngModel)]="paramModel.colonne" [ngModelOptions]="{standalone: true}" class="form-control" type="text" name="" id="" maxlength="1" ></td>
                <td class="text-center"><button (click)="addLigneParam()" type="button" class="btn btn-warning">Ajouter</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
