<div class="px-1 mt-3 text-center">
  <ul id="breadcrumb">
    <!-- <li>
      <a href="#"><span class="icon icon-home"> </span></a>
    </li> -->
    <li>
      <a
        ><span class="icon icon-beaker"> </span> {{ nom_line }} ({{ defaultLine
        }})</a
      >
    </li>
    <li>
      <a
        ><span class="icon icon-double-angle-right"></span> {{ nom_client }} ({{
        client }})</a
      >
    </li>
    <li>
      <a
        ><span class="icon icon-rocket"> </span> {{ nom_fonction }} ({{
        defaultFonction }})</a
      >
    </li>
  </ul>


</div>
<div class="text-end me-3 mb-3">
    <button type="button" class="btn btn-dark" (click)="ficheQualite()">Fiche qualité</button>
</div>

<mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">
  <mat-step [stepControl]="form1" class="" label="Detail de projet">
    <app-project-detail
      [form]="form1"
      [isStepper]="true"
      [ligne]="ligne"
      [fonction]="fonction"
      [typeTraitement]="typeTraitement"
      [plan]="plan"
      [allContacts]="allUser"
      (ligneChange)="onLigneChange($event)"
      [projectID]="id_projet"
      [verifier]="verification"
    ></app-project-detail>
    <div class="row mt-3">
      <div class="col-9"></div>
      <div class="col-3 text-end">
        <button
          class="btn border rounded-3 bg-primary text-white"
          mat-button
          matStepperNext
          [disabled]="form1!.invalid"
        >
          Suivant
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="formInterlocuteur" class="" label="Detail client">
    <app-detail-client [form]="formInterlocuteur" [projectID]="id_projet">
    </app-detail-client>
    <div class="row mt-3">
      <div class="col-9">
        <button mat-button matStepperPrevious class="btn border rounded-3">
          Précédent
        </button>
      </div>
      <div class="col-3 text-end">
        <button
          class="btn border rounded-3 bg-primary text-white"
          mat-button
          matStepperNext
          [disabled]="formInterlocuteur.invalid"
        >
          Suivant
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="form2" label="Objectif qualité">
    <app-objectif-qualite
      *ngIf="operations.length > 0"
      [form]="form2"
      [formPrecedent]="form1"
      [operations]="operations"
      [unites]="unites"
      [verifier]="existVerif"
      [projectID]="id_projet"
      (updateEtape)="updateColonne()"
      [verification]="verification"
      (onOperationChange)="operationChange($event)"
    ></app-objectif-qualite>
    <div class="row mt-3 mb-5">
      <div class="col-9">
        <button mat-button matStepperPrevious class="btn border rounded-3">
          Précédent
        </button>
      </div>
      <div class="col-3 text-end">
        <button
          mat-button
          matStepperNext
          [disabled]="form2!.invalid"
          class="btn border rounded-3 bg-primary text-white"
          >
          <!-- (click)="generate()" -->
          Suivant
        </button>
      </div>
    </div>
  </mat-step>

  @if (isBcqControle) {
  <mat-step label="BCQ Param">
    <app-bcq-parameter
      [form]="bcqForm"
      (addStockage)="addStockage()"
      (deleteStockage)="deleteStockage($event)"
      [projectID]="id_projet"
    > </app-bcq-parameter>
    <div class="row mt-3">
      <div class="col-9">
        <button mat-button matStepperPrevious class="btn border rounded-3">
          Précédent
        </button>
      </div>
      <div class="col-3 text-end">
        <button
          class="btn border rounded-3 bg-primary text-white"
          mat-button
          matStepperNext
        >
          Suivant
        </button>
      </div>
    </div>
  </mat-step>
  } @if (isExterneControl) {
  <mat-step label="Contrôle Externe">
    <app-externe-parameter
      [form]="externeForm"
      [projectID]="id_projet"
    > </app-externe-parameter>
    <div class="row mt-3">
      <div class="col-9">
        <button mat-button matStepperPrevious class="btn border rounded-3">
          Précédent
        </button>
      </div>
      <div class="col-3 text-end">
        <button
          class="btn border rounded-3 bg-primary text-white"
          mat-button
          matStepperNext
        >
          Suivant
        </button>
      </div>
    </div>
  </mat-step>
  }

  <mat-step [stepControl]="form3" label="Type d'erreur">
    <app-type-erreur
      *ngIf="erreurs.length > 0 && generated"
      [filteredOperations]="filteredOperations"
      [form]="form3"
      [formEtape]="form2"
      [colonne]="colone_form3"
      [filteredOperationsSignal]="tableauOperations"
      [id_colonne]="id_form_colonne"
      [erreurs]="erreurs"
      [colonneObserve]="colonneObserver.asObservable()"
      (addErreur)="addErreur($event)"
      (annuler)="annuler($event)"
      [projectID]="id_projet"
      [exist]="updateErreur"
      [verifier]="verification"
      (updateEtape)="updateColonne()"
      (addLigne)="addLigne()"
      (removeLigne)="substractLigne($event)"
    ></app-type-erreur>
    <div class="row mt-3">
      <div class="col-9">
        <button mat-button matStepperPrevious class="btn border rounded-3">
          Précédent
        </button>
      </div>
      <div class="col-3 text-end">
        <button
          class="btn border rounded-3 bg-primary text-white"
          *ngIf="!verification"
          mat-button
          (click)="submit()"
          [disabled]="form3.invalid"
        >
          Envoyer
        </button>
        <!-- <button
          class="btn border rounded-3 bg-primary text-white"
          *ngIf="verification"
          mat-button
          (click)="updateFinal()"
          [disabled]="form3.invalid"
        >
          Modifier
        </button> -->
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
