table {
  width: 100%;
  max-width: 100%; /* Ne pas dépasser la largeur du conteneur */
  table-layout: fixed; /* Forcer la taille des colonnes */
  overflow: hidden; /* Cache le dépassement */
  overflow-y: hidden;
  white-space: nowrap;
}
td, th {
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
}
.typer_table {
    overflow-x: hidden;
}

.checker {
    padding: 0;
    width: 110px;
    max-width: 10rem;
    overflow: hidden;
}

th.checker {
  position: relative;
  height: 120px;
  width: 80px;        /* plus large */
  padding: 0;
  overflow: visible;
  left: 3%
}

th.checker .titre-verticale {
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: rotate(-60deg);
  transform-origin: bottom left;
  width: 120px;       /* largeur du bloc incliné */
  white-space: normal; /* autorise le retour à la ligne */
  word-break: break-word;
  text-align: left;
  font-size: 12px;
}

.selection.ng-valid {
  border: 2px solid green;
}

.selection.ng-invalid {
  border: 2px solid red;
}