<div class="mt-4">
  <div class="table-responsive typer_table">
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2 text-end">
        <button (click)="triggerAdd()" class="btn btn-success">
          <fa-icon icon="plus-circle" class="me-2"></fa-icon>Add
        </button>
      </div>
    </div>
    <ng-template #popoverTyppeErreur>
      <div>
        <ul>
          <li>Mineur (L'erreur ne modifie pas le sens de l'information) </li>
          <li>Majeur (L'erreur modifie le sens de l'information)</li>
        </ul>
      </div>
    </ng-template>
    <form action="" [formGroup]="form()">
      <table class="table p-3">
        <thead class="table-light">
          <tr class="text-center">
            <th>
              <div
                ngbPopover="Nomenclature des erreurs selon les exigences du client."
                [placement]="'bottom'"
                [autoClose]="'true'"
                [triggers]="'mouseenter:mouseleave'"
                popoverClass="my-custom-popover"
              >
                Type d'erreur
              </div>
            </th>
            <th>
              <div
                [ngbPopover]="popoverTyppeErreur"
                [placement]="'bottom'"
                [autoClose]="'true'"
                [triggers]="'mouseenter:mouseleave'"
                popoverClass="my-custom-popover"
              >
                Degre
              </div>
            </th>
            <th>
              <div
                ngbPopover="Le coefficient de pondération ou coefficient de gravité est un chiffre qui reflète l'importance ou la criticité de l'erreur"
                [placement]="'bottom'"
                [autoClose]="'true'"
                [triggers]="'mouseenter:mouseleave'"
                popoverClass="my-custom-popover"
              >
                Coefficient
              </div>
            </th>
            <th>
              <div
                ngbPopover="Un raccourci clavier de votre choix pour enregistrer rapidement un type d'erreur."
                [placement]="'bottom'"
                [autoClose]="'true'"
                [triggers]="'mouseenter:mouseleave'"
                popoverClass="my-custom-popover"
              >
                Raccourci
              </div>
            </th>
            <ng-container *ngFor="let item of colonne()">
              <th class="checker">
                <div 
                
                >
                <span class="titre-verticale" 
                [ngbPopover]="item"
                [placement]="'top'"
                [autoClose]="'true'"
                [triggers]="'mouseenter:mouseleave'"
                popoverClass="my-custom-popover-info">
                  {{ item }}
                </span>
                </div>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody class="table-group-divider p-3" formArrayName="formErreur">
          <tr
            *ngFor="let item of formGroup ; let i = index"
            class="p-3"
            [formGroupName]="i"
          >
            <td>
              <!-- <input type="text" name="typeErreur" class="col-12 form-control" id="" formControlName="typeErreur"> -->
              <input
                type="text"
                name="typeErreur"
                class="selection col-2 form-control"
                id=""
                formControlName="typeErreur"
                matInput
                name="detail_projet.type_erreur:libelle"
                appDebounced
                [formul]="formArray.at(i)"
                [isAutoComplete]="{value: true, name: 'typeErreur'}"
                [colonne]="'type_erreur'"
                [idColonne]="'type_erreur'"
                [foreign]="[{name:'id_projet', value: projectID()}]"
                (debouncedValue)="updateValue($event)"
                [identity]="formArray.at(i).get('idErreur')?.value"
                [liste]="erreurs()"
                [matTooltip]="formGroup.at(i)?.get('typeErreur')?.value"
                [matAutocomplete]="autErreur"
              />
              <mat-autocomplete #autErreur="matAutocomplete" 
                panelClass="auto-width-panel">
                <mat-option
                  *ngFor="let erreur of filteredOperations()[i] | async "
                  [value]="erreur.type_erreur"
                >
                  {{ erreur.type_erreur }}
                </mat-option>
              </mat-autocomplete>
            </td>
            <td>
              <select
                name=""
                id=""
                name="detail_projet.type_erreur:est_majeur"
                class="col-2 form-control"
                id=""
                formControlName="degre"
                appDebounced
                (debouncedValue)="updateValue($event)"
                [identity]="formArray.at(i).get('idErreur')?.value"
                [isAutoComplete]="{value: false}"
              >
                <option value="0">Mineure</option>
                <option value="1">Majeure</option>
              </select>
              <!-- <input type="text" name="degre" class="col-2 form-control" id="" formControlName="degre"> -->
            </td>
            <td>
              <input
                type="text"
                appDebounced
                name="detail_projet.type_erreur:coef"
                (debouncedValue)="updateValue($event)"
                [identity]="formArray.at(i).get('idErreur')?.value"
                [isAutoComplete]="{value: false}"
                class="col-2 form-control"
                (blur)="formatSeuilQualite(i)"
                (keypress)="filterInput($event)"
                id=""
                formControlName="coef"
              />
            </td>
            <td>
              <input
                type="text"
                class="col-2 form-control"
                id=""
                formControlName="raccourci"
                name="detail_projet.type_erreur:raccourci"
                appDebounced
                (debouncedValue)="updateValue($event)"
                [identity]="formArray.at(i).get('idErreur')?.value"
              />
            </td>
            <ng-container *ngFor="let col of lister() ; let j = index ">
              <td class="text-center align-middle checker">
                <div class="d-flex justify-content-center align-items-center">
                  <input
                    *ngIf="col && col !== ''"
                    type="checkbox"
                    class="form-check-input"
                    id=""
                    style="width: 30px; height: 30px"
                    formControlName="{{ col }}"
                    name="detail_projet.erreur_valable:validite"
                    appDebounced
                    [foreign]="[{name:'id_operation', value: id_colonne()[j] },{name:'id_type_erreur', value: formArray.at(i).get('idErreur')?.value },{name:'champ', value: { index: j , col} }]"
                    (debouncedValue)="updateValueCheck($event)"
                    [identity]="formArray.at(i).get('idErreur')?.value"
                    (click)="(lister()[1] == '' && !exist()) ? $event.preventDefault() : null"
                  />
                  <input
                    *ngIf="col && col == ''"
                    formControlName="{{ col }}"
                    type="checkbox"
                    name="control"
                    class="form-check-input"
                    id=""
                    appDebounced
                    [foreign]="[{name:'id_operation', value: id_colonne()[j] },{name:'id_type_erreur', value: formArray.at(i).get('idErreur')?.value }]"
                    (debouncedValue)="updateValueCheck($event)"
                    [identity]="formArray.at(i).get('idErreur')?.value"
                    style="width: 30px; height: 30px"
                    [disabled]="true"
                    
                  />
                </div>
              </td>
            </ng-container>
            <td>
              <button
                type="button"
                class="btn btn-danger form-control"
                
                (click)="trigerRemove(i)"
              >
                Suprimer
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </form>
  </div>
</div>
