/* You can add global styles to this file, and also import other style files */
:root {
  /* Change la couleur de fond de tous les champs de saisie "filled" */
  --mat-form-field-filled-container-color: white; /* Exemple : un gris très clair comme celui de Bootstrap */
}

#bread {
    cursor: pointer;
}

.bg-success-p {
    background-color: #7ee2a7 !important;
}

.bg-default-p {
    background-color: #a8a8a8 !important;
}

.bg-primary-p {
    background-color: #7ee2d9;
}

.bg-sidebar-p {
    background-color: rgba(126, 226, 167, .6) !important;
}

.bg-white {
    background-color: rgb(243 244 248);
}

.sidebar-moov {
    transition: 0.5s ease;
}

.sidebar-moov-in {
    transition: 0.5s ease-out;
}

.sidebar-moov-out {
    transition: 0.5 ease-out;
}

.bsb-timeline-1 .timeline>.timeline-item:before {
    background-color: #7ee2a7 !important;
}

.bsb-timeline-1 .timeline>.timeline-item.danger:before {
    background-color: #A73C50 !important;
}

.mini-titre {
    color: #7ee2a7;
}

.min-vh-82 {
    min-height: 82vh !important;
}

.sidebar {
    transition: width 0.4s ease;
    width: 240px;
    /* largeur normale */
    overflow: hidden;
    white-space: nowrap;
    /* padding: 1rem !important; */
    padding-right: 0 !important;
}

.sidebar.collapsed {
    width: 70px !important;
    padding-right: 1rem !important;
    /* largeur réduite */
}

.corp {
    transition: width 0.4s ease;
    flex-grow: 1;
}

.menu {
    height: 40px;
    width: 100%;
    transition: width 0.4s ease, height 0.4s ease, border-radius 2s ease;
    cursor: pointer;
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
}

.menu:hover {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.menu.active {
    transition: width 0.4s ease;
    cursor: pointer;
    background-color: white;
    box-shadow: var(--bs-box-shadow) !important;
}

.sidebar.collapsed>aside>.menu.active {
    transition: width 0.4s ease, height 0.4s ease, border-radius 0.4s ease;
    border-radius: 15px !important;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.collapsed>aside>.menu {
    transition: width 0.2s ease, height 0.4s ease, border-radius 0.4s ease;
    border-radius: 15px !important;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-success-p {
  --bs-btn-color: black;
  --bs-btn-bg: #7ee2a7;
  --bs-btn-border-color: #7ee2a7;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: rgba(126, 226, 167 , 1);
  --bs-btn-hover-border-color: rgba(126, 226, 167 , 1);
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: #rgba(126, 226, 167 , 1);
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7ee2a7;
  --bs-btn-disabled-border-color: #7ee2a7;
}

.btn-default-p {
  --bs-btn-color: black;
  --bs-btn-bg: rgb(91, 199, 136);
  --bs-btn-border-color: rgb(91, 199, 136);
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: rgb(91, 199, 136);
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: rgb(91, 199, 136);
  --bs-btn-disabled-border-color: rgb(91, 199, 136);
}
.btn-default-invert-p {
  --bs-btn-color: rgb(91, 199, 136); /*rgb(91, 199, 136)*/
  --bs-btn-bg: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: rgb(91, 199, 136);/*rgb(91, 199, 136)*/
  --bs-btn-hover-bg: rgb(91, 199, 136);/*rgb(91, 199, 136)*/
  --bs-btn-hover-border-color: rgb(91, 199, 136);/*rgb(91, 199, 136)*/
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: rgb(91, 199, 136);/*rgb(91, 199, 136)*/
  --bs-btn-active-bg: black;   
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: black;
  --bs-btn-disabled-border-color: black;
}
/* rgba(126, 226, 167 , 1) */
.btn-success-p:hover {
    color: black !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* 
.bootstrap-style-input .mdc-text-field--outlined {    
    border-radius: var(--bs-border-radius) !important;
    border: solid var(--bs-border-width) var(--bs-border-color) !important;
} */
.bootstrap-style-input .mdc-notched-outline--upgraded {    
    border-radius: var(--bs-border-radius) !important;
    border: solid var(--bs-border-width) var(--bs-border-color) !important;
}
.bootstrap-style-input.mat-mdc-form-field-appearance-outline .mdc-notched-outline > div {
  border-color: var(--bs-border-width) var(--bs-border-color)t !important;
}

/* Styles pour la bordure au survol */
.bootstrap-style-input.mat-mdc-form-field-appearance-outline:not(.mat-focused) .mdc-notched-outline:hover > div {
  border-color: var(--bs-border-width) var(--bs-border-color) !important;
}

/* Styles pour la bordure au focus */
.bootstrap-style-input.mat-mdc-form-field-appearance-outline.mat-focused .mdc-notched-outline > div {
  border-color: var(--bs-border-width) var(--bs-border-color) !important;
}

/* Cache la ligne du bas pour le style "filled" */
.bootstrap-style-input.mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex::before,
.bootstrap-style-input.mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex::after {
  content: none !important;
  display: none !important;
}

/* Cache également la bordure du bas pour le style "outline" si vous préférez l'utiliser */
.bootstrap-style-input.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline-end,
.bootstrap-style-input.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline-start,
.bootstrap-style-input.mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline-gap {
  border-bottom-width: 0 !important;
}

.bootstrap-style-input.mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex {
  border: 1px solid #ced4da !important;
}

/* Surcharge la bordure au focus */
.bootstrap-style-input.mat-focused .mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex {
  border-color: #86b7fe !important;
}
.mat-mdc-notch-piece {
    border: none !important;
}

/* Placed in src/styles.css */

.my-custom-popover {
  /* Set a new background color */
  --bs-popover-bg: var(--bs-danger-bg-subtle) !important; /* For a dark gray */
  /* You can also change the text color */
  --bs-popover-border-color: var(--bs-danger-border-subtle);
  --bs-popover-color: var(--bs-danger-text-emphasis) !important; /* For white text */
}

.my-custom-popover-info {
  --bs-popover-bg: var(--bs-info-bg-subtle) !important; /* For a light blue */
  /* You can also change the text color */
  --bs-popover-border-color: var(--bs-info-border-subtle);
  --bs-popover-color: var(--bs-info-text-emphasis) !important; /* For white text */
}

.auto-width-panel {
  width: auto !important;
  max-width: none !important;
}

::ng-deep .auto-width-panel {
  width: auto !important;
  max-width: none !important;
}


/* alert-info {
    --bs-alert-color: var(--bs-info-text-emphasis);
    --bs-alert-bg: var(--bs-info-bg-subtle);
    --bs-alert-border-color: var(--bs-info-border-subtle);
    --bs-alert-link-color: var(--bs-info-text-emphasis); */