/* You can add global styles to this file, and also import other style files */
#bread {
    cursor: pointer;
}

.bg-success-p {
    background-color: #7ee2a7 !important;
}

.bg-primary-p {
    background-color: #7ee2d9;
}

.bg-sidebar-p {
    background-color: rgba(126, 226, 167, .6) !important;
}

.bg-white {
    background-color: rgb(243 244 248);
}

.sidebar-moov {
    transition: 0.5s ease;
}

.sidebar-moov-in {
    transition: 0.5s ease-out;
}

.sidebar-moov-out {
    transition: 0.5 ease-out;
}

.bsb-timeline-1 .timeline>.timeline-item:before {
    background-color: #7ee2a7 !important;
}

.bsb-timeline-1 .timeline>.timeline-item.danger:before {
    background-color: #A73C50 !important;
}

.mini-titre {
    color: #7ee2a7;
}

.min-vh-82 {
    min-height: 82vh !important;
}

.sidebar {
    transition: width 0.4s ease;
    width: 240px;
    /* largeur normale */
    overflow: hidden;
    white-space: nowrap;
    /* padding: 1rem !important; */
    padding-right: 0 !important;
}

.sidebar.collapsed {
    width: 70px !important;
    padding-right: 1rem !important;
    /* largeur réduite */
}

.corp {
    transition: width 0.4s ease;
    flex-grow: 1;
}

.menu {
    height: 40px;
    width: 100%;
    transition: width 0.4s ease, height 0.4s ease, border-radius 2s ease;
    cursor: pointer;
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
}

.menu:hover {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.menu.active {
    transition: width 0.4s ease;
    cursor: pointer;
    background-color: white;
}

.sidebar.collapsed>aside>.menu.active {
    transition: width 0.4s ease, height 0.4s ease, border-radius 0.4s ease;
    border-radius: 15px !important;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.collapsed>aside>.menu {
    transition: width 0.2s ease, height 0.4s ease, border-radius 0.4s ease;
    border-radius: 15px !important;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-success-p {
  --bs-btn-color: black;
  --bs-btn-bg: #7ee2a7;
  --bs-btn-border-color: #7ee2a7;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: rgba(126, 226, 167 , 1);
  --bs-btn-hover-border-color: rgba(126, 226, 167 , 1);
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: #rgba(126, 226, 167 , 1);
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7ee2a7;
  --bs-btn-disabled-border-color: #7ee2a7;
}

.btn-success-p:hover {
    color: black !important;
}