<div class="">
  <div class="row p-3">
    <div class="bg-white p-5 shadow rounded-3 text-black">
      <h1 class="text-center">Récapitulatif</h1>
      <p><span class="fw-medium">Ligne : </span> {{ ligne }}</p>
      <p><span class="fw-medium">Plan : </span> {{ plan }}</p>
      <p><span class="fw-medium">Fonction : </span> {{ fonction }}</p>
      <p>
        <span class="fw-medium">Type de traitement : </span> {{ type_traite }}
      </p>
      <p>
        <span class="fw-medium">Description de traitement : </span> {{
        descriptiont_traite }}
      </p>
      <div class="row bg-info-subtle p-3 rounded-3 mb-3">
        <p>{{ descriptiont_traite }}</p>
      </div>
      <p><span class="fw-medium">Nom du client :</span> {{ client_nom }}</p>
      <p>
        <span class="fw-medium">Nom de l'interlocuteur client :</span> {{
        interlocuteur_nom }}
      </p>
      <p>
        <span class="fw-medium me-1">Contact de l'interlocuteur client :</span>
        <a
          href="mailto:{{
        interlocuteur_contact }}"
          >{{ interlocuteur_contact }}</a
        >
      </p>
      <p>
        <span class="fw-medium">CP responsable :</span> {{ cp_responsable }}
      </p>

      <div class="row mb-5 mt-5 border border-black p-3 rounded-3">
        <p><span class="fw-medium">Objectif qualite : </span></p>
        <div class="table-responsive bg-info-subtle pt-2 rounded-3">
          <table class="table table-info">
            <thead>
              <tr>
                <th scope="col">Operation de control</th>
                <th scope="col">Unite</th>
                <th scope="col">Seuil qualite</th>
                <th scope="col">Type de control</th>
                <th scope="col">Operation de control</th>
                <th scope="col">Critere de rejet</th>
              </tr>
            </thead>
            <tbody>
              <tr class="" *ngFor="let objectif of objectif_qualite">
                <td scope="row">{{ objectif.operation }}</td>
                <td>{{ objectif.unite }}</td>
                <td>{{ objectif.seuil_qualite }}</td>
                <td>{{ objectif.type_de_control }}</td>
                <td>{{ objectif.type_de_control }}</td>
                <td>{{ objectif.critere_de_rejet }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mb-3 border border-black p-3 rounded-3">
        <p><span class="fw-medium">Type Erreur : </span></p>
        <div class="table-responsive bg-info-subtle pt-2 rounded-3">
          <table class="table table-info">
            <thead>
              <tr>
                <th scope="col">Type d'erreur</th>
                <th scope="col">Degre</th>
                <th scope="col">Coef</th>
                <th scope="col">Raccourci</th>
                <ng-container *ngFor="let col of colonne_plus">
                  <th scope="col">{{ col }}</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr class="" *ngFor="let erreur of type_erreur ; let i = index">
                <td scope="row">{{ erreur.type_erreur }}</td>
                <td>{{ erreur.degre }}</td>
                <td>{{ erreur.coef }}</td>
                <td>{{ erreur.raccourci }}</td>
                <ng-container *ngFor="let item of colonne_plus">
                  <td>{{ value_plus[item] }}</td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
