<!-- @if(spinnerService.loading$ | async ) {
  <div class="spinner-overlay bg-light p-5 rounded-3 shadow-lg">
    <div class="row text-center mb-3">
      <p-progressSpinner  styleClass="custom-spinner" ></p-progressSpinner>
    </div>
    <div class="row">
      <p>Chargement en cours...</p>
    </div>
  </div>
} -->

<div >
    <div class="row ">
      <div class="col-4 p-3">
        <div class="bg-white p-3 pb-1 shadow rounded-3">
          <h5 class="mini-titre text-end">Projet actif</h5>
          <p class="d-flex justify-content-between">
            <span class="d-flex ">
              <span class=" me-2">
                <select name="" id="" class="form-select" (change)="changeMonth($event)" [value]="moisActuel()">
                  @for (item of moisExistant; track $index) {
                    <option [value]="($index + 1).toString()" [selected]="$index + 1 === moisActuel()">
                      {{ item }}
                    </option>
                  }
                </select>
              </span>
              <span class="">
                <select name="" id="" class="form-select" (change)="changeYear($event)" [value]="anneeActuel()">
                  @for(item of anneExcercice(); track $index) {
                    <option [value]="item.anne">{{ item.anne }}</option>
                  }
                </select>
              </span>
            </span>
            <span class="display-4 me-3">{{ nombreProjetActif() }}</span></p>
        </div>
      </div>

      <div class="col-4 p-3">
        <div class="bg-white p-3 pb-1 shadow rounded-3">
          <h5 class="mini-titre text-end">Projet parametrer</h5>
          <p class="text-end"><span class="display-4">{{ nombreProjetParametrer() }}</span></p>
        </div>
      </div>
      
      <div class="col-4 p-3">
        <div class="bg-white p-3 pb-1 shadow rounded-3">
          <h5 class="mini-titre text-end">Nombre de projet non conforme</h5>
          <p class="text-end"><span class="display-4">{{ nombreNonConforme() }}</span></p>
        </div>
      </div>

    
      
      
      
      <!-- <div class="col-3 p-3">
        <div class="bg-white p-3 pb-1 shadow rounded-3">
          <h5 class="mini-titre text-end">Nombre de document traiter</h5>
          <p class="text-end"><span class="display-4">1050</span></p>
        </div>
      </div> -->


        <!-- <div class="col-3 p-3">
          <div class="bg-white p-3 shadow rounded-3">
            <h5 class="mini-titre">Projet parametrer</h5>
            <p>58 projet</p>
          </div>
        </div> -->
      <!-- <div class="col-3 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h5 class="mini-titre">Faute</h5>
          <p>commentaire Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="col-3 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h5 class="mini-titre">Faute</h5>
          <p>commentaire Lorem ipsum dolor sit amet</p>
        </div>
      </div> -->
    </div>
    <div class="row">

      <div class="col-4 p-3">
        <div class="bg-white p-3 shadow rounded-3 liste-ligne">
          <h4>Projet actif par ligne de production</h4>
          <!-- Timeline 1 - Bootstrap Brain Component -->
          <section class="bsb-timeline-1 p-4 pt-1">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <ul class="timeline">
                    @for (item of projetACtifParLigne(); track $index) {
                      <li class="timeline-item">
                        <div class="timeline-body">
                          <div class="timeline-content">
                            <div class="card border-0">
                              <div class="card-body p-0">
                                <h6 class="card-subtitle text-secondary mb-1">
                                  {{ item.nom }} ({{ item.nombre_projet }})
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    } @empty {
                      <p class="text-center">Aucun projet actif trouvé pour ce mois.</p>
                    }
                    
                    <!-- <li class="timeline-item danger">
                      <div class="timeline-body">
                        <div class="timeline-content">
                          <div class="card border-0">
                            <div class="card-body p-0">
                              <h6 class="card-subtitle text-secondary mb-1">
                                Labrador
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>-->

                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-4 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h4 class="text-center mb-3">Departage de type d'operation</h4>
          <select class="form-select form-control" [(ngModel)]="selectedOption" (change)="updateChart()">
            <option value="projets">Nombre de projets</option>
            <option value="total">Nombre de d'operation</option>
          </select>
          <canvas #myCanvas height="50"></canvas>
          <div class="row p-3">
        <!-- <div class="bg-white p-3 ">
          <h4 class=" text-center">Detail (Nombre)</h4>
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th>Interne</th>
                <th>Bcq</th>
                <th>Externe</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>150</td>
                <td>50</td>
                <td>30</td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
        </div>
        
      </div>
      
      <div class="col-4 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h4 class="text-center mb-3">Taux de non conformité par ligne</h4>
          <canvas #conform ></canvas>
        </div>
      </div>
      

      <div class="col-12 p-3">
        <div class="bg-white p-3 shadow rounded-3">
          <h4 class="text-center">Projet actif par mois</h4>
          <canvas #projetByMonth></canvas>
        </div>
      </div>
      
      
      
      <div class="col-12 p-3">
        <div class="p-3 bg-white shadow rounded-3">
          <h4 class="mb-3">Tableau</h4>
          <table class="table table-striped-columns">
            <tr>
              <th class="bg-sidebar-p">#</th>
              <th class="bg-sidebar-p">first</th>
              <th class="bg-sidebar-p">second</th>
              <th class="bg-sidebar-p">third</th>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

